<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Classifieds</title>
    </head>
    <body>
        <nav>
            <a href="{% url 'ad_list' %}">Home</a>
            {% if user.is_authenticated %}
            <a href="{% url 'my_ads' %}">My Ads</a>
            <a href="{% url 'ad_create' %}">Post Ad</a>
            <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'account_login' %}">Login</a>
            <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
            </nav>

        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>